body {

  text-align: center;
  color:black;

}

h1 {
    font-family: fantasy;
    text-align: center;
}
h2 {
    font-family: fantasy;
    text-align: center;
}


h3 {
  font-family: fantasy;
  color: darkblue;
}
p {
   font-family: fantasy;
  color: blue;
}

.fancy  {
  float: center;
  width: 260px;
  border-color: cyan;
  border-width: 4px;
  border-style: dotted;
  border-radius: 300px;
  height:260px;
}

header {
    text-align: center;
    background-color: aqua;
    font-family: monospace;
    font-size: 15px;
    line-height: 2;

}
html {
    background-color: skyblue;
}
ol {
    font-family: fantasy;
    color: ;
}